
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html,body{
    width: 100%;
    background: #fff;
    font-size: 1.3rem;
}
nav{
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, .70);
    /*background: #152b72;*/
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    position: fixed;
    z-index: 3;
    text-align: center;
}
    nav > a{
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.5rem;
        text-decoration: none;
        color: #134968;
        font-weight: bold;
        margin: 0 30px;
    }
        nav > a:hover{
            text-shadow: 2px 2px 3px #134461;
            color: rgb(80, 241, 94);
        }
header{
    width: 100%;
    height: 350px;
    background: url('../assets/img10.jpg');
    background-size: cover;
    background-position-y: -300px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    padding-top: 135px;
    text-align: center;
    font-size: 1.5rem;
    color: #b2d0d4;
    font-weight: 700;
}
section{
    width: 100%;
    height: 500px;
    background: #999;
}
    #about{
        width: 100%;
        height: 500px;
        background: #da3b1f;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        color: #fff; 
        padding: 50px 150px 0 150px;
        text-align: justify;
    }
    #contact{
        width: 100%;
        height: 500px;
        background: #671fda; 
    }
        #subContact{
            width: 50%;
            height: 500px; 
            background: rgb(58, 161, 72);
            border-bottom: 2px solid #fff;
            border-left: 2px solid #fff;
            border-right: 2px solid #fff;
            color: #fff; 
            padding: 10px 50px 0 50px;
            float: left;
        }
        #map{
            width: 50%;
            height: 500px; 
            background: rgb(97, 102, 98);
            border-bottom: 2px solid #fff;
            border-left: 2px solid #fff;
            border-right: 2px solid #fff;
            color: #fff; 
            float: left;
        }
footer{
    width: 100%;
    height: 50px;
    background: #333;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    color: #fff;
    text-align: center;
    font-size: .9rem;
    margin-bottom: 365px;
    padding-top: 15px;
}

